<%= form_with(model: @exercise, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :workout_id %>

    <%= f.collection_select :workout_id, Workout.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :completed_on %>

    <%= f.date_select :completed_on, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :weight %>

    <%= f.text_field :weight, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reps %>

    <%= f.text_field :reps, class: "form-control" %>
  </div>

  <%= f.submit "Create exercise", class: "btn btn-block btn-outline-secondary" %>
<% end %>
