<% was_validated = exercise.errors.any? %>

<%= form_with(model: exercise, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <% workout_class = "form-control" %>
    <% workout_was_invalid = exercise.errors.include?(:workout) %>

    <% if was_validated %>
      <% if workout_was_invalid %>
        <% workout_class << " is-invalid" %>
      <% else %>
        <% workout_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :workout_id %>
    <%= f.collection_select :workout_id, Workout.order(:name), :id, :to_s, {}, class: "form-control" %>
    <% if workout_was_invalid %>
      <% exercise.errors.full_messages_for(:workout).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% completed_on_class = "form-control datetimepicker-input" %>
    <% completed_on_was_invalid = exercise.errors.include?(:completed_on) %>

    <% if was_validated %>
      <% if completed_on_was_invalid %>
        <% completed_on_class << " is-invalid" %>
      <% else %>
        <% completed_on_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :completed_on %>
    <div class='input-group date' id='completed_on_picker' data-target-input="nearest">
      <%= f.text_field :completed_on, :class => completed_on_class, :placeholder => "When did you do the exercise?", value: nil, :data => {:target => '#completed_on_picker'} %>
      <div class="input-group-append" data-target='#completed_on_picker' data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#completed_on_picker').datetimepicker({
          format: 'DD-MMM-YYYY',
          defaultDate: '<%= exercise.completed_on.present? ? exercise.completed_on.strftime("%d-%b-%Y") : Date.today.strftime("%d-%b-%Y") %>'
        });
      });
    </script>
    
    <% if completed_on_was_invalid %>
      <% exercise.errors.full_messages_for(:completed_on).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% weight_class = "form-control" %>
    <% weight_was_invalid = exercise.errors.include?(:weight) %>

    <% if was_validated %>
      <% if weight_was_invalid %>
        <% weight_class << " is-invalid" %>
      <% else %>
        <% weight_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :weight, "Weight (in lbs)" %>
    <%= f.number_field :weight, class: weight_class, placeholder: "Example: 10" %>
    <% if weight_was_invalid %>
      <% exercise.errors.full_messages_for(:weight).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% rep_class = "form-control" %>
    <% rep_was_invalid = exercise.errors.include?(:rep) %>

    <% if was_validated %>
      <% if rep_was_invalid %>
        <% rep_class << " is-invalid" %>
      <% else %>
        <% rep_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :reps, "Number of reps" %>
    <%= f.text_field :reps, class: rep_class, placeholder: "Example: 30" %>
    <% if rep_was_invalid %>
      <% exercise.errors.full_messages_for(:rep).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
