<div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
  <div>
    <%= pluralize(exercise.reps, "rep") %> of <%= exercise.workout.name %> @ <%= pluralize(exercise.weight, "lb") %> on <%= exercise.completed_on.strftime("%d-%b-%Y") %>
  </div>

  <div class="d-flex">
    <% if current_user == exercise.user %>
      <div>
        <%= link_to edit_exercise_url(exercise), class: "btn btn-sm btn-outline-secondary mr-2" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      
      <div>
        <%= link_to exercise, method: :delete, data: { confirm: "Do you really want to delete this exercise?" }, class: "btn btn-sm btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
